<head>

</head>
<body>
    <%- include('./nav.ejs') %>
    <div class="main">
        <div>
            <a href="fuel-cost">Fuel Cost</a>
        </div>
        <div>
            <a>Get Consumption</a>
        </div>
    </div>
</body>
