.main {
    margin-left: 1em;
    margin-right: 1em;
}

.fuel-cost-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-control input {
    border-radius: 0%;
}

.result-img {
    width: 10em;
    position:relative;
    padding: 1em;
    margin:0 auto;
    border-bottom: 1px solid #c7c7c7;
}

.image-wrapper {
    border: 0.3em solid #c7c7c7;
    border-radius: 10px;
    background-color: white;
    width:fit-content;
}

.inactive-payment-schema {
    display: none;
}

#has-to-pay-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.input-group:has(input#distance-passed) {
    width: max-content !important;
}

@media (min-width: 900px) {
    .main {
        margin-left: 5em;
        margin-right: 5em;
    }

    .elem-with-span {
        width: 80% !important;
        border: 10px !important;
    }

    .fuel-cost-field {
        display: flex;
        flex-direction: row;
    }

    .calc-label {
        width: 20em;
    }
}