body {
    background: rgb(86,108,231);
    background: linear-gradient(90deg, rgba(86,108,231,1) 0%, rgba(172,187,245,1) 100%);
}

html,body{
    height: 100%;
}

.main {
    margin-left: 1em;
    margin-right: 1em;
    background-color: white;
    padding: 0.5em;
    height: 90%;
    border-left: solid 0.3em rgba(139, 139, 139, 0.349);
    border-right: solid 0.3em rgba(139, 139, 139, 0.349);
}

.fuel-cost-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-control input {
    border-radius: 0%;
}

.result-img {
    width: 4.5em;
    position:relative;
    padding: 1em;
    margin:0 auto;
    border-bottom: 1px solid #c7c7c7;
}

.image-wrapper {
    border: 0.3em solid #c7c7c7;
    border-radius: 10px;
    background-color: white;
    width:fit-content;
}

.inactive-payment-schema {
    display: none;
}

#has-to-pay-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.input-group:has(input#distance-passed) {
    width: max-content !important;
}

#nav-img {
    width: 5%;
}

#on-average {
    font-size: small;
}

@media (min-width: 900px) {
    .main {
        margin-left: 5em;
        margin-right: 5em;
        padding: 1em;
    }

    .elem-with-span {
        width: 80% !important;
        border: 10px !important;
    }

    .fuel-cost-field {
        display: flex;
        flex-direction: row;
    }

    .calc-label {
        width: 20em;
    }

    .result-img {
        width: 10em;
    }
}